
/* --- Reset ---*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* --header-height: 60px; */
    --primary-color: #232525;
    --body-color: #119c8080;
    --text-color: rgba(240, 240, 240, 0.963);
    --title-color: #69fbdea1;
    --bg-color: #5d63636b;
    --card-color: #1cb696;
    --bg2-color: #00f3c247;
    --bodyFull-color: #006e58;
    --textArea: #5d63636b;
    --alter-Color: #eaeaea;
    --alterColor2: #1cb696;
    --alterColor3: #1cb696;
    
  
    --body-font: "Montserrat";
    --title-font: "Montserrat";
  
    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: 0.8rem;
    --tiny-font: 0.75rem;
  
    --font-bold: 700;
    --font-medium: 600;
    --font-normal: 400;
    --font-tiny: 300;
  
    --space-0-5: 0.5rem;
    --space-0-75: 0.75rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 7rem;
    --space-4: 8rem;
  
    --z-fixed: 100;
    --z-modal: 200;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

html,
body {
  height: 100%;
}

.dark{
    --primary-color: #34786a;
    --body-color: #00000080;
    --text-color: rgba(240, 240, 240, 0.963);
    --title-color: #ffffff;
    --bg-color: #008778d4;
    --card-color: #ffffff;
    --bg2-color: #131313a1;
    --bodyFull-color: #006e58;
    --textArea: #ffffffd7;
    --alter-Color: #1cb696;
    --alterColor2: #1cb696;
    --alterColor3: #000000;
    

    /* --primary-color: #232525;
    --body-color: #119c8080;
    --text-color: rgba(240, 240, 240, 0.963);
    --title-color: #69fbdea1;
    --bg-color: #5d63636b;
    --card-color: #1cb696;
    --bg2-color: #00f3c247; */



  
    --body-font: "Montserrat";
    --title-font: "Montserrat";
  
    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: 0.8rem;
    --tiny-font: 0.75rem;
  
    --font-bold: 700;
    --font-medium: 600;
    --font-normal: 400;
    --font-tiny: 300;
  
    --space-0-5: 0.5rem;
    --space-0-75: 0.75rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 7rem;
    --space-4: 8rem;
  
    --z-fixed: 100;
    --z-modal: 200;
}

main{
    overflow: hidden;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
  }

  ul,
ol {
  list-style: none;
}

a {
    text-decoration: none;
  }



/* --- MENU --- */
.header__container{
    background: var(--primary-color);
    position:sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.header__container header{
    max-width: 1100px;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header__container header .logo a{
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    font-size: 36px;
    color: var(--card-color);
    text-decoration: none;
}
.header__container header ul{
    display: flex;
    list-style: none;
    align-items: center; 
    justify-content: center; 
    padding: 3px;
}
.header__container header nav ul li a{
    display:flex;
    font-size: 15px;
    font-family: var(--title-font);
    font-weight: var(--font-normal);
    text-align: center;
    color: var(--text-color);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;    
}
.header__container header nav ul li a:hover{
    color:var(--body-color);
}
.nav-responsive{
    background-color: var(--alterColor3);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    text-align: center;
}

.nav__btn {
    font-size: 1rem;
    color: var(--body-color);
    background-color: transparent;
    display:flex;
    font-family: var(--title-font);
    font-weight: var(--font-normal);
    text-align: center;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none; 
  }

  .icon__hidden {
    display: none;
  } 

  

/* SECCION I N I C I O */

.inicio{
    background-image: linear-gradient(to top, rgba(48, 61, 69, 0.685), rgb(24, 28, 30)),url(/Assets/img/fondo1280.jpg);
    width: 100%;
    background-size:cover;
    height: 100vh;
    color: var(--text-color);
    display: flex;
    align-items: center;
}


.inicio .contenido-banner{
    padding: 40px ;
    background-color: var(--primary-color);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
 }

.inicio .contenido-banner img{   
    border: 8px solid var(--card-color);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 2px;
    font-size: 40px;
    font-family: var(--title-font);
    margin-bottom: 2px;
}    

.inicio .contenido-banner h2{
    font-size: var(--normal-font);
    font-family: var(--title-font);
    font-weight: var(--font-normal);
    color:var(--title-color); 
    padding-bottom: 10px;
}

.inicio .contenido-banner .redes a{
    color: var(--text-color);
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 21px;
    transition: .3s;
}


.inicio .contenido-banner .redes a:hover{
    background-color: var(--body-color)
}


.inicio__idioma{
    position: absolute;
    right: 0;
    padding: 1rem;
    top: 65px;

}



.en{
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font);
  }

  .es{
    color: var(--card-color);
    font-family: var(--body-font);
    font-size: var(--normal-font);
  }

  .check{
    position: relative;
    width: 2rem;
  }

  .check:before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 1rem;
    background: var(--primary-color);
    border-radius: 25px;
  }

  .check:after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background:var(--text-color);
    border-radius: 25px;
    transition: 0.3s;
    box-sizing: border-box;
  }

  .check:checked:after{
    left: 1rem;
    border: 2px solid var(--text-color);
    background-color: var(--text-color);
  }

  .check:checked:before{
    background-color: var(--bodyFull-color);
  }




/*seccion sobre mi*/

.sobremi{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 40px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin:auto;
}

.sobremi h2{
    font-size: 40px;
    font-family: var(--title-font);
    text-align: center;
    padding: 40px 0;
} 

.sobremi .contenido-seccion p{
    font: 12px;
    line-height: 20px;
    font-family: var(--title-font);
    margin-bottom: 10px;
    justify-content: center;
}


.sobremi .contenido-seccion p span{
    color: var(--card-color);
    font-weight: var(--font-bold);
    font-family: var(--title-font);
}

.sobremi .fila{
    display: flex;
    font-family: var(--title-font);
}

.sobremi .fila .columna{
    width: 50%;
}

.sobremi .fila .columna h3{
    font-size: 24px;
    color: var(--card-color);
    font-family: var(--title-font);
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.sobremi .fila .columna ul{
    list-style: none;
}

.sobremi .fila .columna ul li{
    margin: 15px 10px;
}

.sobremi .fila .columna ul li strong{
    display: inline-block;
    color:var(--card-color);
    width: 120px;
    justify-content: center; 
}

.sobremi .fila .columna ul li span{
    background-color:var(--card-color);
    color: var(--primary-color);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}  

.sobremi .fila .columna .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.sobremi .fila .columna .contenedor-intereses .interes{
    width: 5rem;
    height: 5rem;
    padding: 3px;
    font-size: 10px;
    background-color: var(--bg-color);
    border-radius: 12px;;
    margin: 0 18px 18px 0;
    display: flex;    
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align:center;
    transition: .3s;    
}

.sobremi .fila .columna .contenedor-intereses .interes:hover{
    background-color: var(--alterColor2);
}
.sobremi .fila .columna .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.btn__download{
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    font-family: var(--title-font);
    color: var(--text-color);
    position: relative;
    z-index: 10;
}

.btn__download .overlay{
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--bg2-color);
    z-index: -1;
    transition: .5s;
}

.btn__download:hover .overlay{
    width: 100%;
}


/* SECCION HABILIDADES */


.skills{
    background: linear-gradient(to top, rgba(19, 21, 23, 0.685), rgba(2, 2, 3, 0.947)),
    url(/Assets/img/fondo.jpg);
    background-size:cover;
    color: var(--text-color);
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin:auto;
}

.skills h2{
    font-size: 40px;
    font-family: var(--title-font);
    text-align: center;
    justify-content: center;
    padding: 18px 0;
} 

.skills .fila{
    display: flex;
    font-family: var(--title-font);
    padding-bottom: 30px;
}

.skills .fila .columna{
    width: 50%;
}

.skills .fila .columna h3{
        font-size: 24px;
        color: var(--card-color);
        font-family: var(--title-font);
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

.skills .fila .columna ul{
        list-style: none;
    }

.skills .fila .columna ul li{
        margin: 15px 10px;
    }

.skills .fila .columna ul li strong{
        display: inline-block;
        color:var(--card-color);
        width: 120px;
        justify-content: center; 
    }

.skills .fila .columna ul li span{
        background-color:var(--card-color);
        padding: 3px;
        font-weight: bold;
        border-radius: 5px;
    }  

.skills .fila .columna .contenedor-tecnicas{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }

.skills .fila .columna .contenedor-softskills{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }

.skills .fila .columna .contenedor-tecnicas .herramienta{
        width: var(--space-3-5);
        height: var(--space-3-5);
        padding: 2px;
        font-size: var(--small-font);
        background-color: var(--bg-color);
        border-radius: 12px;;
        margin: 0 18px 18px 0;
        display: flex;    
        flex-direction:column;
        align-items:center;
        justify-content: center;
        text-align:center;
        transition: .3s;    
    }

.skills .fila .columna .contenedor-softskills .softskill{
        width: var(--space-3-5);
        height: var(--space-3-5);
        padding: 2px;
        font-size: var(--small-font);
        background-color: var(--bg-color);
        border-radius: 12px;;
        margin: 0 18px 18px 0;
        display: flex;    
        flex-direction:column;
        align-items:center;
        justify-content: center;
        text-align:center;
        transition: .3s;    
    }

.skills .fila .columna .contenedor-tecnicas .herramienta:hover{
        background-color: var(--alterColor2);
    }

.skills .fila .columna .contenedor-softskills .softskill:hover{
        background-color: var(--alterColor2);
    }

.skills .fila .columna .contenedor-tecnicas .herramienta i{
        font-size: 40px;
        margin-bottom: 10px;
    }

.skills .fila .columna .contenedor-softskills .softskill i{
        font-size: 40px;
        margin-bottom: 10px;
    }


    

/*SECCION PORTAFOLIO*/

.portafolio{
    background: linear-gradient(rgba(5, 5, 5, 0.909),rgba(25, 25, 25, 0.671));
    color: var(--text-color);
    background-size: cover;
    padding-bottom: 40px;
    padding: 50px 20px;
}
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin:auto;
 }

.portafolio h2{
    font-size: 40px;
    font-family: var(--title-font);
    text-align: center;
    justify-content: center;
    padding: 50px 0;
} 

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;  
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 300px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img{
    width: 21rem;
    height: 15rem;
    border: 3px solid var(--text-color);
    /*border-radius: 70px*/
}


.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 21rem;
    height: 15rem;
    text-align: center;
    background: linear-gradient(rgba(0, 33, 27, 0.856),rgba(86, 86, 86, 0.203));
    display: flex;
    flex-direction:column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    font-family: var(--title-font);
    letter-spacing: 4px;
    border: 3px solid var(--text-color);
    opacity: 0;
}

.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 14px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}


/* SECCION CONTACTO */

.contacto{
    background-image: url(Assets/img/contact_bg.png);
    background-color: var(--primary-color);
    color:var(--text-color);
    padding: 50px 20px;    
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 40px;
    font-family: var(--title-font);
    text-align: center;
    justify-content: center;
    padding: 18px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .columna{
    width: 50%;
    padding: 10px;
    position: relative;
    color: var(--text-color);
}

.contacto .columna .form__input, .contacto .columna textarea{
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--textArea);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
}

.contacto__enviar{
    cursor: pointer;
    border-radius: 12px;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--text-color);
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.contacto__enviar:hover{
    background-color: var(--alterColor3);
}

.contacto .columna img{
    width: 100%;
}

.contacto .columna .info{
    position: absolute;
    top: 40%;
    background-color: #282929;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}

.contacto .columna .info ul{
    list-style: none;
    font-family: var(--title-font);
}

.contacto .columna .info ul li{
    margin-bottom: 18px
}

.contacto .columna .info ul li i{
    color: var(--card-color);
    display: inline-block;
    margin-right: 20px
}

.contacto .map{
    width: 90%;
}

/* FOOTER */

footer{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a:hover{
    background-color: var(--alterColor3);
}

footer .redes a{
    color: var(--text-color);
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 21px;
    transition: .3s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--body-color);
    color: var(--text-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .arriba:hover{
    background-color: var(--alterColor2);
}

.comments{
    font-family: var(--title-font);
}


/* SECCION RESPONSIVE */

@media screen and (max-width:980px){
    nav{
        display: none;
    }

    .nav-responsive{
    display: block;
    }
    nav.responsive{
    display: block;
    position:absolute;
    right: 0;
    top: 60px;
    background-color: var(--primary-color);
    width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--text-color);
        padding: 10px 0;
    }
    nav .responsive a{
        text-align: center;
    }
}

@media screen and (max-width:698px){
    .sobremi .fila{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .sobremi .fila .columna ul li strong{
        display: flex;
        flex-direction: column;
    }

    .sobremi .fila .columna .contenedor-intereses{
        display: flex;
    }

    .skills .fila{
        display:flex;
        flex-wrap: wrap;
    }
    .skills .fila .columna{
        width: 100%;
    }


    .portafolio .galeria{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
        flex-wrap: wrap;
    }

    .portafolio .galeria .proyecto img{
        width: 100%;
        flex-wrap: wrap;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .columna{
        width: 100%;
    }

    .contacto .map{
        display: flex;
        flex-flow: column;
        max-width: 100%;
    }
    
}

;
